*{
    background-color: rgb(252, 215, 215);
}

.third{
   border: solid;
   border-color:green;
   width: 100px;
   height: 100px;
  margin: 40px 40px 40px 40px;
}
h1{
    text-align: center;
}
.second{
    border: solid;
    border-color: yellow;
    width: 200px;
    height: 200px;
    margin: 60px 80px 45px 80px;
}
.border{
    border: solid;
    border-color:red;
    width: 300px;
    height: 300px;
    margin: 90px 80px 100px 60px;
    
}

