*{
    background-color: rgb(252, 215, 215);
}

.third{
   border: solid 10px green;
  padding: 40px 40px 40px 40px;
}
h1{
    text-align: center;
}
.second{
    border: solid 10px yellow;
    padding: 80px 30px 10px 30px;
}
.border{
    border: solid 10px red;
    padding: 90px 30px 90px 50px;
    margin: 8% 3% 3% 4%;
    
}

