
body{
    background-color:grey;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 30px solid red;
    outline: rgb(3, 61, 3) solid 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}


